.column{
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.auto_margin{
    margin: auto;
}

.preview{
    margin: 15px;
}

.poster{
    height: 200px;
    margin-right: 15px;
}

.preview_header{
    margin-bottom: 10px;
}
